#crew-tiles{
    .overlay{
        .transition(opacity .3s ease);

        &:before{
            background-color: @brand-primary;
        }

        .title{
            font-size: 18px;
            opacity: 0;
            .translate(0, -100%);
            .transition(all .3s ease-out);
        }
        .caption{
            font-size: 12px;
            line-height: 1.23;
            opacity: 0;
            .translate(0, 100%);
            .transition(all .3s ease-out);
        }

        &:hover{
            .title{
                opacity: 1;
                .translate(0, 0);
            }
            .caption{
                opacity: 1;
                .translate(0, 0);
            }
        }
    }
}