body.home{

    .panel{
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        background-color: transparent;
        background-image: url("../img/bg/noise.png");

        .panel-title{
            color: @brand-primary;
            margin-bottom: @line-height-computed * 2;
            font-size: 34px;
            margin-top: 30px;
        }

        .brand-name,
        .panel-title{
            .translate(-200px, 0);
        }
        .brand-description,
        .container p{
            .translate(0, 100px);
        }
        .wp-caption,
        .gform_wrapper,
        .tiles-wrapper,
        #map,
        #creation-bottles,
        #showcase-gallery,
        #contact-info,
        #recognition-testimonials,
        #recognition-carousel{
            .translate(0, 200px);
        }
        .tiles-wrapper,
        #map,
        #showcase-gallery,
        #recognition-testimonials,
        #home-slider{
            .scale(0.9);
        }
        .wp-caption,
        .brand-name,
        .brand-description,
        .container p,
        .panel-title,
        .gform_wrapper,
        .tiles-wrapper,
        #map,
        #creation-bottles,
        #home-slider,
        #showcase-gallery,
        #contact-info,
        #recognition-testimonials,
        #recognition-carousel,
        #recognition-testimonials >div{
            opacity: 0;

            .transition(all .5s ease-in-out);
        }

        &.animated{
            .wp-caption,
            .brand-name,
            .brand-description,
            .container p,
            .panel-title,
            .gform_wrapper,
            .tiles-wrapper,
            #map,
            #creation-bottles,
            #home-slider,
            #showcase-gallery,
            #contact-info,
            #recognition-testimonials,
            #recognition-carousel,
            #recognition-testimonials >div{
                .translate(0, 0);
                .scale(1);
                opacity: 1;
            }
        }
    }
}

#home-slider{
    @media (max-width: @screen-xs-max){
        height: auto !important;
    }
    .carousel-inner{
        height: 100%;
    }
    &,
    .item,
    .item img{
        width: 100%;
    }
    .item img{
        height: 100%;
        opacity: 0;
        visibility: hidden;
        margin: 0 auto;
    }
    .item{
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
}

#panel-home{
    .brand-name{
        color: @brand-primary;
        font-size: 34px;
        margin: 30px 0 0;
    }
    .brand-description{
        font-size: 20px;
        margin-bottom: 30px;
    }
}

#panel-nielsen-design{
    .wp-caption{
        background-color: transparent;
        border: 0 none;
        padding: 0;
        margin-bottom: 40px;

        img{
            margin-bottom: 30px;
        }

        .wp-caption-text{
            padding: 0;
            font-size: 14px;
            color: @gray-light;
            max-width: 300px;
        }
    }
}