body.home{

    .panel{
        position: relative;
        z-index: 2;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        background-color: #fff;
        padding-bottom: 200px;

        .inner{
            >.container{
                position: relative;
                z-index: 3;
            }
        }

        .panel-title{
            color: @brand-primary;
            margin-bottom: @line-height-computed * 2;
            font-size: 34px;
            margin-top: 70px;
            text-transform: lowercase;
        }

        .brand-name,
        .panel-title{
            .translate(-200px, 0);
        }
        .brand-description,
        .container p{
            .translate(0, 100px);
        }
        .wp-caption,
        .gform_wrapper,
        .tiles-wrapper,
        #map,
        #creation-bottles,
        #showcase-gallery,
        #contact-info,
        #recognition-testimonials,
        #recognition-carousel{
            .translate(0, 200px);
        }
        .tiles-wrapper,
        #map,
        #showcase-gallery,
        #recognition-testimonials,
        #home-slider{
            .scale(0.9);
        }
        .wp-caption,
        .brand-name,
        .brand-description,
        .container p,
        .panel-title,
        .gform_wrapper,
        .tiles-wrapper,
        #map,
        #creation-bottles,
        #home-slider,
        #showcase-gallery,
        #contact-info,
        #recognition-testimonials,
        #recognition-carousel,
        #recognition-testimonials >div{
            opacity: 0;

            .transition(all .5s ease-in-out);
        }

        &.animated{
            .wp-caption,
            .brand-name,
            .brand-description,
            .container p,
            .panel-title,
            .gform_wrapper,
            .tiles-wrapper,
            #map,
            #creation-bottles,
            #home-slider,
            #showcase-gallery,
            #contact-info,
            #recognition-testimonials,
            #recognition-carousel,
            #recognition-testimonials >div{
                .translate(0, 0);
                .scale(1);
                opacity: 1;
            }
        }
    }
}

#home-slider{
    @media (max-width: @screen-xs-max){
        height: 280px !important;
    }
    .carousel-inner{
        height: 100%;
    }
    &,
    .item,
    .item img{
        width: 100%;
    }
    .item{
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        >a,
        >span{
            display: block;
            position: relative;

            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                right: 0;
                background-image: url("../img/bg/corner-right.png");
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 100% auto;
                z-index: 100;
                height: 100%;
            }
        }

        img{
            height: 100%;
            opacity: 0;
            visibility: hidden;
            margin: 0 auto;
        }
    }
}

#panel-nielsen-design{
    .container{
        text-align: justify;

        >p{
            padding-right: 50%;
        }
    }

    .wp-caption{
        background-color: transparent;
        border: 0 none;
        padding: 0;
        margin-bottom: 40px;

        img{
            margin-bottom: 30px;
        }

        .wp-caption-text{
            padding: 0;
            font-size: 14px;
            color: @gray-light;
            max-width: 300px;
        }
    }
}

#panel-home{
    background-image: url("../img/bg/noise.png");

    &:before,
    &:after{
        z-index: -1;
    }

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        background-color: #fff;
    }
    &:after{
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        right: 0;

        .gradient(rgba(0,0,0,0.03), rgba(255,255,255,0), horizontal);
    }

    .brand-name{
        color: @brand-primary;
        font-size: 34px;
        margin: 30px 0 0;
    }
    .brand-description{
        font-size: 20px;
        margin-bottom: 30px;
    }
}
#panel-nielsen-design{
    background-image: url("../img/bg/panel-nielsen-design.jpg");
    background-position: 50% 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#panel-showcase{
    background-image: url("../img/bg/wall.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &:before{
        content: url("../img/bg/bike.png");
        position: absolute;
        right: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}
#panel-crew{
    background-image: url("../img/bg/panel-crew.jpg");
    background-position: 50% 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;

    >.inner{
        position: relative;
        z-index: 2;

        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            background-image: url("../img/bg/panel-separator.png");
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 50% 0;
        }
    }
}
#panel-creation{
    background-image: url("../img/bg/wall.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
}
#panel-recognition{
    background-image: url("../img/bg/noise.png");

    >.inner{
        position: relative;
        z-index: 2;

        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            background-image: url("../img/bg/panel-separator.png");
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 50% 0;
        }
    }
}
#panel-contact{
    background-image: url("../img/bg/33bakery.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-bottom: 0;
}