#showcase-gallery{
    .carousel-inner > .item{
        position: absolute;
        width: 100%;
        display: block;

        &.active{
            position: relative;
        }
    }
}
#product-gallery{
    img{
        margin: 0 auto;
    }
}
#modal-products{

    .modal-dialog{

        .modal-content{

            border-radius: 0;

            .modal-header{
                background-color: @brand-primary;
                color: #fff;

                .close{
                    color: #fff;
                    text-shadow-color: @gray-dark;
                    opacity: 0.5;
                    .transition(opacity .2s ease);

                    &:hover,
                    &:focus{
                        opacity: 1;
                    }
                }
            }

        }
    }
}