.hentry{
    .entry-title{
        font-size: 26px;
    }

    &.product{
        .page-header{
            border-bottom: 0 none;
            text-align: center;
            padding-bottom: 0;
        }
        .entry-content{
            text-align: center;
            color: @gray-light;

            p{
                @media (min-width: @screen-sm-min){
                    padding: 0 10%;
                }

                @media (min-width: @screen-md-min){
                    padding: 0 25%;
                }
            }
        }
    }
}