body.single-product{
    .carousel{
        padding: 0 170px;
        .carousel-inner{
            > .item > img,
            > .item > a > img{
                margin: 0 auto;
            }
        }
        .carousel-control{
            background: none;

            >span{
                background-color: @brand-primary;
                padding: 11px;
                .size(50px, 50px);
            }
        }
    }
}

.modal-dialog{
    .modal-body{
        background-color: #fafafa;
    }
    .carousel-inner{
        h2{
            color: @brand-primary;
        }
    }
    .carousel-control{
        background: none;
        position: static;
        display: inline-block;
        vertical-align: top;
        .size(25px, 25px);

        .close{
            vertical-align: middle;
            margin: 0;
        }

        >span{
            font-size: 20px;
            position: static;
            display: inline-block;
            vertical-align: top;
            background-color: @brand-primary;
            margin: 0;
            padding: 0;
        }
    }

}

.carousel.carousel-fade{
    .item {
        opacity: 0;
        .transition-property(opacity);

        &.active{
            opacity:1;

            &.left,
            &.right{
                left: 0;
                z-index: 1;
                opacity: 0;
            }
        }
    }

    .next.left,
    .prev.right {
        opacity: 1;
    }
}