// Captions
.wp-caption {
  &:extend(.thumbnail all);

  //@media (min-width: @screen-md-min){
    max-width: 45% !important;
  //}

  @media (max-width: @screen-sm-max){
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: @screen-sm-max){
    img{
        width: 100%;
    }
  }

  @media (max-width: @screen-xs-max){
    max-width: 100% !important;
  }

  img.size-full{
    max-width: none;
  }
}

.wp-caption-text {
  &:extend(.thumbnail .caption);
}

// Gallery shortcode
.gallery-row {
  padding: (@line-height-computed / 2) 0;
}

img.size-full{
  max-width: 100%;

  @media (min-width: @screen-sm-min){
    max-width: 45% !important;
  }
}
