.navbar-default{

    min-height: 45px;

    .navbar-toggle,
    .navbar-toggle:hover,
    .navbar-toggle:focus{
        border-color: #fff;
        background-color: @brand-primary;

        .icon-bar{
            background-color: #fff;
        }

        &.collapsed{
            background-color: #fff;
            border-color: @brand-primary;

            .icon-bar{
                background-color: @brand-primary;
            }
        }
    }

    .navbar-nav{

        > li{

            .navbar-text{
                color: @brand-primary;
            }

            > a{
                color: @brand-primary;
                outline: none;
                text-align: center;

                .transition(color .2s ease);

                &:hover,
                &:focus{
                    color: darken(@brand-primary, 10);
                }
            }

            &.active >a,
            &.active >a:hover,
            &.active >a:focus{
                background-color: transparent;
                color: darken(@brand-primary, 10);
            }

            .icon{
                margin-right: 5px;
            }
        }
    }

}