.navbar-default.navbar-menu .navbar-nav >li .icon,
.navbar-default.navbar-menu .navbar-brand .glyphicon{ margin-right: 5px; }

body.home .navbar-default{

    .navbar-brand{
        display: none;
    }

    &.navbar-menu{
        background-color: transparent;
        border-color: transparent;

        .navbar-nav{
            float: none;
            text-align: center;

            >li{
                float: none;
                display: inline-block;

                @media (min-width: @screen-md-min){
                    margin: 0 1%;
                }

                @media (min-width: @screen-lg-min){
                    margin: 0 2%;
                }

                .icon{
                    display: block;
                    font-size: 2em;
                    margin-bottom: 3px;
                    margin-right: 0;

                    @media (min-width: @screen-md-min){
                        font-size: 3em;
                    }
                }
            }
        }
    }

    &.navbar-contacts{
        background-color: #FFF;
        border-width: 0 0 1px;
        border-color: #ECF6F6;
    }

    .navbar-nav{

        > li{

            > a{
                color: @brand-primary;
                text-align: center;
                outline: none;

                .transition(color .2s ease);

                &:hover{
                    color: darken(@brand-primary, 10);
                }
            }

            &.active >a,
            &.active >a:hover,
            &.active >a:focus{
                background-color: transparent;
                color: darken(@brand-primary, 10);
            }
        }
    }
}