.tiles-wrapper{
    .tiles-inner{
        display: table;
        width: 100%;
        table-layout: fixed;

        .item{
            display: table-cell;
            vertical-align: middle;
            position: relative;

            background-repeat: no-repeat;
            background-size: cover;

            &,
            & a{
                color: #fff;
            }

            img{
                visibility: hidden;
            }

            .overlay{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                padding: 5px;
                opacity: 0;

                .transition(opacity .2s ease);

                @media (min-width: @screen-sm-min){
                    padding: 10px;
                }

                &:hover,
                &:focus{
                    opacity: 1;
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 0.7;
                }

                .inner-table{
                    display: table;
                    width: 100%;
                    height: 100%;

                    .inner-table-cell{
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                .title{
                    display: block;
                }
                .caption{
                    display: none;

                    @media (min-width: @screen-sm-min){
                        display: block;
                    }
                }
            }
        }
    }

    .persons{
        margin: 15px 0;
        background-image: url("../img/bg/persons.png");
        background-repeat: no-repeat;
        height: 250px;
        width: 100%;

        &.active-1{ background-position: 0 -250px; }
        &.active-2{ background-position: 0 -500px; }
        &.active-3{ background-position: 0 -750px; }
        &.active-4{ background-position: 0 -1000px; }
    }
}

.tile-grid{
    background-color: #ddd;
    clear: both;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;

    @media (min-width: @screen-sm-min){
        height: 0;
        padding-bottom: 28%;
    }

    >div{
        position: absolute;
        background-color: #FFF;
        .transition(all .4s ease);

        @media (max-width: @screen-xs-max){
            width: 100% !important;
            height: auto !important;
            position: static;
        }
    }

    .tile{
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        @media (min-width: @screen-sm-min){
            position: absolute;
        }

        img{
            width: 100%;

            @media (min-width: @screen-sm-min){
                display: none;
            }
        }

        a{
            color: #fff;
            position: relative;
            display: table;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            font-size: 18px;
            padding: 10px 15px;

            @media (min-width: @screen-sm-min){
                font-size: 14px;
                padding: 0;
            }

            >span{
                display: table-cell;
                vertical-align: middle;
                .transition(all .2s ease-in-out);
            }

            .icon{
                display: inline-block;
                vertical-align: middle;

                @media (min-width: @screen-sm-min){
                    margin-bottom: 5px;
                    font-size: 26px;
                    display: block;
                }
            }

            &:hover{
                >span{
                    .scale(1.1);
                }
            }
        }

        >h1, >h2, >h3, >h4, >h5, >h6{
            margin: 0;
            height: 100%;
        }

        .view-products-link{
            background-color: #A09FA0;
        }
        .view-more-link,
        .back-link{
            background-color: #5BADC4;
        }
        .back-link{
            .icon{
                .rotate(180deg);
            }
        }

        .caption{
            font-weight: bold;
            display: block;
            background-color: @brand-primary;
            opacity: 0;
            text-align: left;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .transition(all .2s ease);

            @media (min-width: @screen-sm-min){
                position: relative;
            }

            > span{
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                padding: 1em;

                .translate(100%, 0);

                .transition(all .3s ease-in-out);

                @media (min-width: @screen-sm-min){
                    position: absolute;
                }
            }

            &:hover,
            &:focus{
                opacity: 0.8;

                span{
                    .translate(0, 0);
                }
            }
        }
    }
}